body {
    background-color: black;
}

/* BASE LEVEL CONTAINER BOXES */

#login-bar {
    background-color: pink;
    background-color: #DFF2DA;
    padding-left: 65%;
}

#search-bar {
    text-align: center;
    background-color: #9dc29e;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#ads-section {
    background-color: #c2a29d;
    background-color: #C8D9C3;
    padding: 3rem 0;
}

#recent-view {
    background-color: #aa8965;
    background-color: #EBFFE6;
    
}

#categories {
    background-color: #039683;
    background-color: #DFF2DA;
    
}

#other {
    background-color: #68ab31;
    background-color: #EBFFE6;
    padding: 6% 1%;
    
}

#contact {
    background-color: #b68bdb;
    background-color: #A5B3A1;
    padding: 3% 0;
}


/* ID STYLES */

#searchContainer {
    margin: 0 10%;
}


/* CLASS STYLES */

.login-but {
    margin: 0 1%;
}


.carousel-item
{
    height: 100px;
    background-color: grey;
}


.carousel-holder{
    margin: 0 8%;
}

.button-highlight {
    box-shadow: 0 0 0 5px rgba(255,255,255,0.5);
    border-radius: 100%;
    background-color: rgba(255,255,255,0.5);
}

.image-holder{
    margin-bottom: 3%;
}

.ad-items{
    display:inline;
    width: 100px;
    margin: 0 1%;
    
}

.dummy{
    background-color:white;
    border-radius: 2%;
    border:none;
    width: 15%;
    
}

.dummy:hover{
    box-shadow: 0 0 10px 2px black;
}

.adcat{
    color:#bfbfbf;
}

.price{
    font-size: 2rem;
    font-weight: bold;
}

.dummy2 {
    /* border-style: solid;
    border-color: pink;
    text-align: center; */
    
}

.icon-c{
    color: #6A7367;
    font-size: 30px;
    padding: 0 3px;

}

.contact-sect {
    /* border-style: solid;
    border-color: purple; */
}

.appImages{
    display: inline-block;
}

.magniglass-icon{
    width: 5%;
}

